{% extends "mc_app/base.html" %}
{% load static %}
{% block content %}

<div id="questionCard" class="card mx-auto border border-dark mt-5" style="width: 80%">
  <div class="card-header" id="topic">DERIVATIVES</div>
  <div class="card-body text-center">
    <h4 class="card-title" id="question">Find the derivative of the given function:</h4>
    </br>
    <div id="mathEquation" style="font-size: 2rem;">\(f(x) = 6x^2\)</div>
    </br>
    </br>
    <form id="answer_form" class="card-footer mx-auto" style="width: 100%;" method="post">
      {% csrf_token %}
      </br>
      <label for="answer" style="font-size: 2rem;">\(f'(x) = \)</label>
      <input type='text' class="form-control" id="answer" name="answer" onfocus="this.placeholder=''" style="font-size: 2rem; text-align: center;" placeholder="3x^2" autocomplete="off">
      </br>
      <p id="answerMessage" style="font-size: .75em; color:red; visibility:hidden;">Correct!</p>
      </br>
      <button id="answerButton" href="#" class="btn btn-primary" type="submit" style="width: 100%;">SUBMIT</button>
    </form>
  </div>
</div>
<script>
  var sessionObj = {{sessionObj|safe}};
  var sessionFields = sessionObj[0].fields;
  var skillObj = {{skillObj|safe}};
  var skillFields = skillObj[0].fields;
  var progressObj = {{progressObj|safe}};
  var progressFields = progressObj[0].fields;
  var negativeCoefficients, negativeExponents, fractionalExponents, fractionalCoefficients;
  [negativeCoefficients, negativeExponents, fractionalExponents, fractionalCoefficients] = setEquationParameters("{{selection}}");


  function setEquationParameters(selection){
    console.log("This is selection in setEquation params")
    console.log(selection);
    negativeCoefficient = 0;
    fractionalCoefficient = 0;
    negativeExponent = 0;
    fractionalExponent = 0;
    if (selection == 'negativeCoefficients') {
      negativeCoefficients = 1;
    }
    if (selection == 'fractionalCoefficients') {
      fractionalCoefficients = 1;
    }
    if (selection == 'basicMix') {
      negativeCoefficients = 1;
      fractionalCoefficients = 1;
    }
    if (selection == 'advancedMix') {
      negativeCoefficients = 1;
      fractionalCoefficients = 1;
      negativeExponents = 1;
      fractionalExponents = 1;
    }
    return [negativeCoefficients, fractionalCoefficients, negativeExponents, fractionalExponents];
  }
</script>
<script src="{% static 'mc_app/javascript/derivatives.js' %}"></script>

})

{% endblock content %}
