{% extends "mc_app/base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">CBHS Code</h1>
  <hr class="my-4">
  <p class="lead">JavaScript projects made with Code.org's AppLab, 2020-2021.</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'mc_app/images/isa_takis.PNG' %}" class="card-img-top" alt="Images of four different flavors of Takis.">
      <div class="card-body">
        <h5 class="card-title">Informational App</h5>
        <p class="card-text">Isa's Takis flavor reviews.</p>
        <a href="https://studio.code.org/projects/applab/gdZcO1-DbbwrnJD1Lq7PLkL1balZlIbG4ABIghsJMQE" class="btn btn-primary" target="_blank">Get Info</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'mc_app/images/ella_countdown.PNG' %}" class="card-img-top" alt="Purple screen showing 10 and a countdown button.">
      <div class="card-body">
        <h5 class="card-title">Countdown Timer</h5>
        <p class="card-text">Ella's simple countdown timer app.</p>
        <a href="https://studio.code.org/projects/applab/4El88jFjnTx7KoE2bVQk2R68Fs4KvGfkuGFa60qXlmA" class="btn btn-primary" target="_blank">Run Timer</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'mc_app/images/patrick_pong.PNG' %}" class="card-img-top" alt="Screenshot of a pong game with red bricks and red paddle.">
      <div class="card-body">
        <h5 class="card-title">Pong Game</h5>
        <p class="card-text">Patrick's breakout game.</p>
        <a href="https://studio.code.org/projects/applab/hkh4nJwBgjaIOinBxyffA8x8uDqfxjj3k02tFYRQXJ0" class="btn btn-primary" target="_blank">Play Game</a>
      </div>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <video controls>
        <source src="{% static 'mc_app/images/aislinn_anaimation.mp4' %}" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">Questgram</h5>
        <p class="card-text">Aislinn's sunset and shooting stars animation.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'mc_app/images/jered_soccer_quiz.PNG' %}" class="card-img-top" alt="FIFA world cup trophy.">
      <div class="card-body">
        <h5 class="card-title">Quiz App</h5>
        <p class="card-text">Jered's FIFA World Cup soccer quiz.</p>
        <a href="https://studio.code.org/projects/applab/9Ik6iRygDKdjalApMZMfXtd7DMR71hfOdzr_f5t0k5s" class="btn btn-primary" target="_blank">Take Quiz</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <video controls>
        <source src="{% static 'mc_app/images/josh_city_sleeps.mp4' %}" type="video/mp4">
      </video>
      <div class="card-body">
        <h5 class="card-title">Questgram</h5>
        <p class="card-text">Josh's city sleeps animation.</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
